.code {
  font-size: 50px;
  padding-left: 70px;
}

.failure {
  padding-left: 10px;
  font-size: 30px;
  color: #d9534f;
}

.success {
  padding-left: 10px;
  font-size: 30px;
  color: #5cb85c;
}

.form-inline {
  margin-bottom: 10px;
}

.message {
  font-weight: bold;
}
